.request-section{
    margin: -30px 10px 0;
    border: solid 2px ;
    border-radius: 7px;
    height: 240px;
    border-color: rgb(112, 119, 119, 0.9);
    box-shadow: 4px 7px 28px 3px rgba(46, 44, 44, 0.45);

    
}
.head{
    display: flex;
    margin: 15px 18px 0;
}
.head-left{
    left: 0;
    line-height: 3px;
    width: 50%;
}
.head .head-left .title {
    font-size: 20px;
    color: rgb(196, 145, 16);
}
.head .head-left p{
    font-size: 12px;
    color: darkslategrey;
}
.head-right{
    right: 0;
    width: 50%;
    display: flex;
    
    justify-content: center;
    align-items: flex-start;
}
.head-right span{
    margin-left: 15px;
    background-color: rgb(131, 139, 139, 0.4);
    font-size: 10px;
    height: 18px;
}
.head-right p{
    font-size: 15px;
    
}